<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em> KeyBooks Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bea1a6">  <td>21/11/02 19:34:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.LoginTest@3bf9ce3e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238357312</td>   <td></td> </tr>
<tr bgcolor="c0f766">  <td>21/11/02 19:34:47</td>   <td>-5873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTest@3bf9ce3e]">loginTest</td> 
  <td>main@238357312</td>   <td></td> </tr>
<tr bgcolor="bea1a6">  <td>21/11/02 19:34:43</td>   <td>-10309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:selenium.tests.LoginTest@3bf9ce3e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238357312</td>   <td></td> </tr>
<tr bgcolor="bea1a6">  <td>21/11/02 19:34:53</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.recordFailure(org.testng.ITestResult)[pri:0, instance:selenium.tests.LoginTest@3bf9ce3e]">&lt;&lt;recordFailure</td> 
<td>&nbsp;</td>  <td>main@238357312</td>   <td></td> </tr>
</table>
