<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69e366">  <td>21/11/15 00:26:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BlogTest.Portofolio2()[pri:0, instance:selenium.tests.BlogTest@5fbdfdcf]">Portofolio2</td> 
  <td>main@504053874</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>21/11/15 00:26:37</td>   <td>4599</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.BlogTest@5fbdfdcf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504053874</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>21/11/15 00:26:27</td>   <td>-5037</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:selenium.tests.BlogTest@5fbdfdcf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504053874</td>   <td></td> </tr>
</table>
